.main-invent{
    min-height: 90vh;
}
.detail-cart{
    min-height: 250px;
    padding: 29px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.ime-car-detail img{
    border-radius: 15px;

}
.btn-deliver{
    padding: 4px 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 49, 162);
    font-weight: 500;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
.btn-deliver:hover{
    background-color: rgb(197, 6, 6);
    color: rgb(255, 255, 255);
    transition: .3s ease-in;
    transform: scale(1.1);
}
.btn-add{
    background-color: rgb(255, 49, 162);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 2px 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
}
.btn-add:hover{
    background-color: rgb(32, 124, 13);
   
   color: rgb(255, 255, 255);
   transform: scale(1.1);
  
    transition: .6s ;

}
.form-css input{
    outline: none;
}