.cart-css{
   padding: 8px;
   border-radius: 10px;
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  
}
.cart-css img{
    height: 260px;
    border-radius: 15px;
}
.text-css{
    min-height:225px; 
}
.details-css{
    border: none;
    color: rgb(255, 255, 255);
    font-size: 19px;
    border-radius: 10px;
    font-weight: 500;
    background-color: rgb(238, 54, 183);
    padding: 5px 20px;
}
.details-css:hover{
background-color: black;
transition: .4s ease-in;
transform: scale(1.07);

}
.manage-cart{
    
    border: 1px solid rgb(0, 0, 0);
    
}
.manage-img img{
    padding-top: 15px;
   
    width: 180px;
    height: 120px;
   
}
.manage-ditel-div{
    border: 1px solid rgb(0, 0, 0);
}
.btn-delete{
    border: none;
    background-color:rgb(255, 68, 171) ;
    color: rgb(255, 255, 255);
   border-radius: 5px;
   padding: 5px 15px;
    font-size: 20px;
    font-weight: 500;
}
.btn-delete:hover{
    background-color: rgb(245, 2, 2);
    transition: .5s ease-in;
    transform: scale(1.2) ;
    

}
.main-add-css{
    display: flex;
   
    

}
.form-add-css{
    padding: 20px;
    border-radius: 8px;
   
    width: 650px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: rgba(250, 67, 168, 0.651) 0px 2px 4px 0px, rgba(223, 70, 185, 0.514) 0px 2px 16px 0px;

}
.form-add-css input{
    border-radius: 5px;
    outline: 1px solid rgb(255, 255, 255);
    width: 100%;
    height: 40px;
   

}
.btn-add-new{
    background-color: rgb(255, 68, 171);
    color: rgb(255, 255, 255);
    border: none;
    font-weight: 500;
    
}
.btn-add-new:hover{
    background-color: rgb(39, 228, 70);
    color: black;
    transition: .6s ease-in-out;

}
.myadd-div-css{
    min-height: 60vh;
}











@media screen and (max-width:500px) {
    .manage-img img{
        padding-top: 30px;
   
        width: 180px;
        height: 160px;
       
    }
    .manage-ditel-div{
        border: none;
    }
    .form-add-css{
        padding: 20px;
     
       
        max-width: 300px;
        font-size: 20px;
        font-weight: 500;
    
    }
    

    
}