.cart-css{
   padding: 8px;
   border-radius: 10px;
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  
}
.cart-css img{
    height: 280px;
    border-radius: 15px;
}
.text-css{
    min-height:200px; 
}
.details-css{
    border: none;
    color: rgb(255, 255, 255);
    font-size: 19px;
    border-radius: 10px;
    font-weight: 500;
    background-color: rgb(238, 54, 183);
    padding: 5px 20px;
}
.details-css:hover{
background-color: black;
transition: .4s ease-in;
transform: scale(1.07);

}