body h1,h2,h3,h4,h5,h6{
    font-family: 'Times New Roman', Times, serif;

}
.slide1{
    background:linear-gradient(rgba(0, 0, 0, 0.603),rgb(2, 2, 2)),  url('../../img/slide.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90Vh;
    
}
.slide2{
    background:linear-gradient(rgba(34, 30, 30, 0.616),rgba(3, 3, 3, 0.993)),  url('../../img/slide6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90Vh;

}
.slide3{
    background:linear-gradient(rgba(14, 13, 13, 0.658),rgba(0, 0, 0, 0.979)),  url('../../img/sslide.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90Vh;
}
.deponic{
    color:rgb(252, 73, 198) ;
}
.btn-slide{
    background-color: rgb(238, 54, 183);
    border: none;
    padding: 5px 0px;
   
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
.btn-slide:hover{
    background-color: rgb(241, 31, 178);
    transform: scale(1.08);
    transition: .5s;

}
.btn-slide a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    padding:  30px;

}

.slide-title{
 padding-bottom: 220px;
}
.titleof-slide{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}
.slide-paragraf{
    font-size: 20px;
    
}
.home-cart-css{

    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) );
}
.service-main{
   display: grid;
   grid-gap: 35px;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}
.service-div{
   border:2px solid rgb(255, 255, 255);
   border-radius: 15px;
   padding: 5px;
   background-color:rgb(255, 255, 255) ;
}
.service-div img{
    height: 250px;
    border-radius: 5px;
}
.count-section{
    background:linear-gradient(rgba(39, 37, 37, 0.767),rgba(36, 34, 34, 0.733)),  url('../../img/sslide.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    align-items: center;
    display: flex;
   
 
    
}
.counter-main-div{
    display: grid;

    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}
.counter-div{
    align-items: center;

    border-radius: 5px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    
}
.counter-div h1{
    color: rgb(160, 9, 115);

}
.partner-section{
    min-height: 350px;
    margin-top:150px;
}
.hr-css{
    color: rgb(223, 4, 150);
    border: 2px solid rgb(241, 7, 210);
   
}
.logo-div{
    
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );

}
.logo-back{
    background-color: rgba(247, 192, 239, 0.158);
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
    









@media screen and (max-width:450px){
    .slide-title{
        padding-bottom: 50px;
       }
       .titleof-slide{
        font-size: 40px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 500;
    }

    
    
}
