.footer-css{

    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    min-height: 200px;
    background-color: black;
 ;
}
.text-div{
    padding: 30px;
    margin-right: auto;


}
.text-div h2,h3,h5{
    font-family: 'Times New Roman', Times, serif;
}