.css-table table,td, th {
     border: 1px solid ;
     padding: 15px;
    
}
.div-1{
    background-color: rgba(177, 176, 176, 0.192);
    padding: 25px;
}
.section-2{
    background-color: rgba(247, 140, 208, 0.274);
    
}